---
- name: Déploiement Hybride (SSH + API) Kubernetes
  hosts: localhost
  gather_facts: false
  
  vars_files:
    - "../vaults/secrets.yml"

  vars:
    proxmox_node: "870A43E"
    pve_host_ip: "10.10.10.1"  # IP pour le SSH et l'API
    pve_user: "root@pam"
    
    template_id: 9000
    ssh_key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
    storage_name: "local"

    k3s_vms:
      - name: "k3s-master"
        vmid: 101
        cores: 2
        memory: 6144
        ip: "10.10.10.20"
      - name: "k3s-worker-01"
        vmid: 102
        cores: 2
        memory: 8192
        ip: "10.10.10.21"
      - name: "k3s-worker-02"
        vmid: 103
        cores: 2
        memory: 8192
        ip: "10.10.10.22"

  tasks:
    # 1. On vérifie qui existe déjà (Ça, ça marche bien)
    - name: "Vérifier les VMs existantes"
      community.proxmox.proxmox_vm_info:
        api_host: "{{ pve_host_ip }}"
        api_user: "{{ pve_user }}"
        api_password: "{{ proxmox_password }}"
        validate_certs: false
        node: "{{ proxmox_node }}"
      register: existing_vms_info

    - name: "Liste des VMIDs existants"
      set_fact:
        existing_vmid_list: "{{ existing_vms_info.proxmox_vms | map(attribute='vmid') | list }}"

    # 2. CRÉATION BRUTE VIA SSH (Contournement du bug Python)
    # On lance la commande 'qm clone' directement sur le serveur Proxmox
    - name: "Clonage Brut via SSH (si VM absente)"
      shell: |
        ssh -o StrictHostKeyChecking=no root@{{ pve_host_ip }} \
        "qm clone {{ template_id }} {{ item.vmid }} --name {{ item.name }} --full 1 --storage {{ storage_name }} --format qcow2"
      loop: "{{ k8s_vms }}"
      when: item.vmid not in existing_vmid_list
      # On ignore les erreurs SSH mineures et on affiche ce qui se passe
      register: clone_output
      changed_when: clone_output.rc == 0

    # 3. CONFIGURATION FINE VIA ANSIBLE
    # Maintenant que la VM existe (créée par SSH), le module ne plantera plus !
    - name: "Configuration des Ressources & Cloud-Init"
      community.proxmox.proxmox_kvm:
        api_host: "{{ pve_host_ip }}"
        api_user: "{{ pve_user }}"
        api_password: "{{ proxmox_password }}"
        validate_certs: false
        node: "{{ proxmox_node }}"
        
        vmid: "{{ item.vmid }}"
        # On ne met PAS 'clone' ici car c'est déjà fait au dessus
        
        # Configuration Hardware
        cores: "{{ item.cores }}"
        memory: "{{ item.memory }}"
        scsihw: virtio-scsi-pci
        net:
          net0: "model=virtio,bridge=vmbr1"
        
        # Cloud-Init
        ciuser: "debian"
        cipassword: "{{ user_password }}"
        sshkeys: "{{ ssh_key }}"
        ipconfig:
          ipconfig0: "ip={{ item.ip }}/24,gw=10.10.10.1"
          
        state: present
        update: true # On force la mise à jour de la config
      
      loop: "{{ k8s_vms }}"

    # 4. DÉMARRAGE
    - name: "Démarrage des VMs"
      community.proxmox.proxmox_kvm:
        api_host: "{{ pve_host_ip }}"
        api_user: "{{ pve_user }}"
        api_password: "{{ proxmox_password }}"
        validate_certs: false
        node: "{{ proxmox_node }}"
        vmid: "{{ item.vmid }}"
        state: started
      loop: "{{ k8s_vms }}"
